body {
  font-family: "RalewayRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.7;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  background-color: #181818;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  /*color: red;*/
}

body input:required:valid,
body textarea:required:valid {
  /*color: green;*/
}

.hidden {
  display: none;
}

.left_side {
  background-color: #111111;
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow-x: hidden;
  outline: none;
}

.left_side.active {
  width: 300px;
}

.left_side.active .btn_mnu {
	background-color: transparent;
  }
.left_side.active .btn_row {
	background-color: #fff;
}


/*Menu Button*/

.btn_mnu {
  width: 50px;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn_row {
  height: 2px;
  width: 60%;
  margin: 2px 0;
  background-color: #000;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn_mnu.active .btn_row:first-child {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 6px;
}
.btn_mnu.active .btn_row:last-child {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  transform: rotate(-225deg);
  top: -6px;
}
.btn_mnu.active .btn_row:nth-child(2) {
  opacity: 0;
}

.btn_mnu {
  float: right;
}

.aside_content {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 25px 0;
}
.user_info {
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.left_side.active .user_info {
	opacity: 1;
}

.user_info img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user_info h2 {
  font-size: 16px;
  white-space: nowrap;
}

.user_info p {
  font-size: 12px;
  letter-spacing: 1px;
  color: #434343;
  white-space: nowrap;
}

.left_side .aside_content nav {
	position: relative;
	z-index: 5;
	margin-top: -110px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.left_side.active .aside_content nav {
	margin: 35px 0;
}


.aside_content ul,
.aside_content li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.aside_content li a {
	background-color: #111;
	color: #b2b2b2;
	padding-left: 70px;
	display: block;
	padding: 10px 0 10px 70px;
	border-bottom: #212121 1px solid;
	white-space: nowrap;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.aside_content li:hover a {
	text-indent: 5px;
}

.aside_content li a:first-child {
	border-top: #212121 1px solid;
}

.aside_content li a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #000;
}

.aside_content li a:before {
	font-family: "linea-basic-10";
	margin-left: -58px;
	margin-right: 13px;
	font-size: 25px;
	line-height: 0;
	margin-top: -4px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;	
}

.left_side.active .aside_content li a:before {
	margin-left: 20px;
}

.aside_content li:nth-child(1) a:before {
	content: "u";
}

.aside_content li:nth-child(2) a:before {
	content: "{";
}

.aside_content li:nth-child(3) a:before {
	content: "R";
}

/*Preloader*/

.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

.content {
	position: relative;
	margin: 5px 5px 55px 55px;
	left: 0;
}

.gallery a {
	overflow: hidden;
	width: 320px;
  display: block;
  min-height: 50px;
}

.gallery img {
	display: block;
  width: 100%;
	-webkit-transition: all 15s;
	-o-transition: all 15s;
	transition: all 15s;
}

.gallery img:hover{
  -webkit-transform: scale(5);
	-o-transfotm: scale(5);
	transform: scale(5);	
}

.left_side.active + .content {
	left: 250px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	transition-delay: .5s;
}

.filter-items{
  background-color: #181818;
  position: fixed;
  bottom: 0;
  color: #fff;
  right: 0;
  text-align: right;
  width: 100%;
  padding: 10px 10px 0 10px;
};

.filter-label {
  background-color: transparent;
  border-color: #fff;
  padding: 5px 15px;
  opacity: .4;
  margin: 0 3px 15px;
  font-size: 12px;
  letter-spacing: 3px;
  border: 1px solid #fff;
  -webkit-transition: all 15s;
	-o-transition: all 15s;
	transition: all 15s;
}

.filter-label:hover,
.filter-label.active {
  background-color: #fff;
  color: #000;
  border-color: #000; 
}

.mfp-content {
  width: 100%;
}

.mfp-container {
  padding: 0;
}

.mfp-figure {
  background-color: #181818;
}

img.mfp-img {
  display: block;
  height: auto;
  padding: 0;
  max-width: 100%;
  max-height: none !important
}

.mfp-figure button.mfp-close {
  width: 50px;
  height: 50px;
  color: #000;
  background-color: #fff;
  position: fixed;
  text-align: center;
  right: 8px;
  padding: 0;
}

.mfp-zoom-out-cur .gallery {
  left: -100%;
}

/* magnific library opened */
.mfp-zoom-out-cur .library {

}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 1;
	
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;	
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 1;	
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  left: 100%;
  -webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;

}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  left: 0;
	
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  left: 100%;
}


