@media (max-width:1200px)
    .sidebar
        display: none
    .nav__list
        display: none !important
        &_aside
            display: block !important
    .button
        display: flex
    .genres
        margin: .9375rem
        margin-right: 3rem
        font-size: 1.5rem
        &__text
            font-size: 1.5rem
        &__faux
            margin-right: 0.7rem

    .social__list
        display: none !important
        &_aside
            display: flex !important
    .social__icon
        font-size: 35px !important
    .search
        display: none !important
        
@media (max-width: 768px)
    .about
        text-align: center
        &__keyart
            margin-bottom: .9765rem

@media (max-width: 500px)
    .nav
        &__item
            font-size: 0.9rem
    .genres
        margin-right: 1rem
        &__text
            font-size: 1rem
    .sidebar__genre
        margin: 0
    .social__list_aside
        margin: 5% 10%
    .social__icon:before
        font-size: 25px
    .head-title
        font-size: 1.5rem  
        &::after
            top: 0.7rem              
            width: 0.3rem
            height: 1.2rem
    
    
@media (min-width: 41em)
    .sidebar 
        height: 100%